@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  article > p {
    @apply mt-4 text-justify;
  }

  /*! purgecss ignore */
  p > code {
    @apply border shadow-sm text-sm;
  }
  /*  article blockquote {
    @apply border shadow mt-4 px-4 py-4 rounded-lg;
  }
  article > blockquote {
    @apply shadow-md;
  }
  article h1 {
    @apply text-4xl font-semibold mt-8;
  }
  article h2 {
    @apply text-3xl font-semibold mt-8;
  }
  article h3 {
    @apply text-2xl font-semibold mt-8;
  }
  article h4 {
    @apply text-xl font-semibold mt-8;
  }
  article a {
    @apply underline text-purple-500;
  }
  article a:visited {
    @apply underline text-gray-500;
  }
  article a:hover {
    @apply underline text-purple-700;
  }*/
}

@layer components {
  /*! purgecss ignore */
  .highlight > pre:nth-child(1) {
    @apply overflow-x-auto;
  }

  /*! purgecss ignore */
  .highlight {
    @apply mt-4 p-4 shadow-2xl rounded-lg;
    background-color: #282a36;
  }
  .centered-base {
    @apply mt-14 sm:mx-14 mx-3 max-w-3xl;
  }

  .caca {
    @apply mt-11;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
