<!doctype html>
<html lang=fr>

{{ partial "head/index.html" . }}

<body>
	<div class="centered-base">
		{{ partial "body/nav.html" . }}

		<!-- article header -->
		<div class="mt-8">
			<h1 class="text-2xl font-bold">{{ .Title }}</h1>
			<p>publié le&nbsp;: {{ .Date.Format "2006-01-02" }}</p>
			<p>catégorie·s&nbsp;: {{ range (.GetTerms "categories") }}<a
					href="{{ .Permalink }}">{{ lower .LinkTitle }}</a>{{ end }}</p>
		</div>

		<article class="mt-8">
			{{ .Page.Content }}
		</article>
		<a href="#top">
			<div
				class="my-8 p-4 rounded-lg bg-gray-800 hover:bg-gradient-to-r from-pink-500 to-blue-500 text-white max-w-max">

				↑ Retour en haut. ↑
			</div>
		</a>
	</div>
</body>

</html>
