<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>{{.Title}} - {{.Site.Title}} </title>
	<meta name="description" content="Potate - TEMPLATE_CODE" />
	<meta name="author" content="eriizu" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>
	<div class="mt-10 sm:mx-10 mx-3 max-w-3xl">
		<h1 class="text-3xl">{{.Site.Title}}</h1>
		<nav class="flex flex-row">
			<div class="mr-4">publications</div>
			<div class="mr-4">à propos</div>
		</nav>

		{{ range .Pages }}
		<section class="mt-4">
			<a href="{{ .Permalink }}">
				<h2 class="text-2xl">{{ .Title }}</h2>
			</a>
			<p class="text-gray-600">{{ .Date.Format "2006/01/02" }}
				&nbsp;•&nbsp;
				{{ range (.GetTerms "categories") }}
				<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
				{{ end }}
			</p>
			<p class="text-justify">{{ .Summary }}</p>

		</section>
		{{ end }}

	</div>
</body>

</html>